.el-dialog {
  width: 800px;
  box-shadow: 0 0 4px #b6b5b5;
  border-radius: 10px;
  overflow: hidden;
  .el-dialog__header {
    background-color: #e4f1ff;
    font-size: 18px;
    font-family: SourceHanSansCN;
    color: #181e34;
    padding: 22px 42px 20px 30px;
  }
  .el-dialog__body {
    padding: 40px 42px 60px 30px;

    .el-form-item__label {
      text-align: left;
      color: #3458ff;
      font-size: 16px;
      font-family: SourceHanSansCN;
      font-weight: normal;
    }
    .el-select {
      width: 100%;
    }
    .el-form-item {
      margin-bottom: 30px;
    }
  }
  .el-dialog__footer {
    border-top: 1.5px solid rgba($color: #a5adc6, $alpha: 0.3);
    margin: 0 30px;
    padding: 30px 12px;
  }
}
